spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/pictgram
    username: pictgram
    password: password
  h2:
    console:
      enabled: true
      debug: true
cloud:
  aws:
    stack:
      auto: false
    region:
      auto: false
      static: ap-northeast-1